.Footer{
    background-color: #FFF0F5;
}
  .ft-1 h3 {
    font-weight: 700;
    font-family: cursive;
    letter-spacing: 2px;
    padding: 0.5rem 0;
  }
  
  .ft-1 span {
    color: #f60838;
  }
  
  .ft-1 p {
   
    font-weight: 500;
  }
  
  .footer-icons i {
   
    background: #e1e1e1;
    color: #f60838;
    margin: 0 0.5rem;
    border-radius: 50%;
  }
  
  .footer-icons i:hover {
    background: #f60838;
    color: #fff;
    transition: 0.6s;
    cursor: pointer;
  }
  
  .Footer h5 {
    color: #f60838;
  }
  
  .ft-2 ul {
    list-style: none;
    padding-left: 0;
  }
  
  .ft-2 ul li {
    padding: 0.35rem 0;
    font-weight: 500;
  }
  
  .ft-2 ul a {
    text-decoration: none;
    color: #000;
    font-size: 1.06rem;
  }
  
  .ft-3 p {
    font-weight: 500;
    padding: 0.1rem 0;
    font-size: 1.06rem;
  }
  
  .ft-3 i {
    padding-right: 0.5rem;
  }
  
  .Last-footer {
    background: #f60838;
    text-align: center;
    
  }
  
  .Last-footer p {
    margin-bottom: 0;
    font-size: 1.2rem;
    font-weight: 700;
  }