/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&family=Poppins:ital,wght@0,200;0,300;0,700;1,400&family=Quicksand:wght@300;400&family=Roboto+Condensed:wght@300&display=swap');
.headline{
  font-family:'Black Ops One', cursive;
  font-style: oblique ; 
  text-shadow: #C08261;
  color: aquamarine;
}
.slider{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to left, #9A3B3B, #C08261);
  z-index: -1;
}

section {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.hero{
  height: 100%;
  width: 100%;
  position: relative;
}

.hero:after{
  content: '';
  background: rgba(0,0,0, 0.2);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hero img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.headline{
  position: absolute;
  top: 80%;
  left: 10%;
  font-size: 100px;
  transform: translate(-20%, -70%);
  color: #fff;
  z-index: 3;
 }
 @media screen and (max-width: 768px) {
  .headline {
    font-size: 64px; /* Adjust font size for smaller screens */
  }
}

.linh{
  color:blueviolet;
}