@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,200;0,300;0,700;1,400&family=Quicksand:wght@300;400&family=Roboto+Condensed:wght@300&display=swap');
body {

    font-family: 'Quicksand', sans-serif;
}